@font-face {
    font-family: 'satoshi';
    src: url('../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Regular.otf');
}

@font-face {
    font-family: 'internal';
    src: url('../assets/fonts/Internal_CF/Fontspring-DEMO-integralcf-regular.otf');
}

/* Variaveis css */
:root{
    --primary-color--:#000000;
    --second-color--:#F0F0F0;
}


/* ---------- header ----------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    @media screen and (min-width:1200px){
        padding: 10px 4rem;
    }
}

#top__header{
    display: flex;
    align-items: center;
    gap: 0.6rem;

    #title__header{
        font-size: 1rem;
    }

    img{
        @media screen and (min-width:768px){
            display: none;
        }
    }
}

#menu{
    display: none;
    ul{
        display: flex;
        gap: 1.5rem;
    }
    @media screen and (min-width:768px){
        display: block;
    }
}

#search{
    display: none;
}

#menu-auxiliar{
    list-style: none;
    display: flex;
    gap: 0.75rem;
}

/* --------------------------------*/

/* ---------- Banner ----------*/
#banner{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--second-color--);
    padding: 10px 10px 0px 10px;

    @media screen and (min-width:1200px){
        padding-left: 4rem;
        padding-top: 2rem;
    }

    #header__banner{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        h2{
            font-size: 2.1rem;
            @media screen and (min-width:768px){
                font-size: 3.5rem;
            }

            @media screen and (min-width:1024px){
                width: 500px;
            }
        }


        .text__banner{
            font-size: 14px;
            text-align: justify;

            @media screen and (min-width:540px){
                font-size: 16px;
            }

            @media screen and (min-width:1024px){
                width: 510px;
            }
        }

        button{
            background-color: var(--primary-color--);
            color: white;
            padding: 16px;
            width: 100%;
            border: none;
            border-radius: 62px;

            @media screen and (min-width:540px){
                width: 200px;
            }
        }
    

        #shopco__informations{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 1.5rem;

            h3{
                font-family: 'satoshi';
                font-size: 2rem;
                font-weight: 700;
            }

            p{
                font-size: 12px;
                @media screen and (min-width:768px){
                    font-size: 16px;
                }
            }

            @media screen and (min-width:1024px){
                margin-top: 30px;
                justify-content: start;
                gap: 2rem;
            }
        }
        
        @media screen and (min-width:1024px){
            width: 50%;
            gap: 1rem;
        }
    }

    #container__fashionable{
        width: 100%;
        height: 300px;
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 300px;
            transform: translateY(10%);
            scale: 1.50;
            object-fit: cover;

            @media screen and (min-width:1024px){
                scale: 2.5;
            }
        }

        @media screen and (min-width:1024px){
            width: 50%;
            height: 500px;
        }
    }
}

/* Banner brands */
#banner__brands{
    background-color: var(--primary-color--);
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
}

#banner__brands > img{
    height: 22px;
    width: 100px;

    @media screen and (min-width:768px) {
        height: 32px;
        width: 133px;
    };

    @media screen and (min-width:1024px){
        height: 35px;
        width: 200px;
    };
}

/* --------------------------------*/

/* ---------- section products ----------*/
.section__products{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    button{
        background-color: white;
        display: block;
        margin: auto;
        border: 1px solid #0000001A;
        padding: 16px 54px;
        border-radius: 62px;
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
        box-shadow: 0px 0px 1px black;

        @media screen and (min-width:768px){
            width: 218px;
        }
    }
}


/* browse__by__dress__style */
#browse__by__dress__style{
    background-color: var(--second-color--);
    padding: 40px 0;
    border-radius: 40px;
}



#newsletter{
    position: relative;
    margin-bottom: -7rem;
    background-color: var(--primary-color--);
    color: white;
    padding: 36px 24px;
    border-radius: 20px;

    h2{
        flex: 4;
        font-size: 2rem;
        text-align: center;
        font-family: 'internal';
        line-height: 35px;

        @media screen and (min-width:768px){
            text-align: left;
            font-size: 2.5rem;
            line-height: 50px;
        }
    }

    form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1.5;

        

        label{
            overflow: hidden;
            background-color: white;
            padding-left: 10px;
            border-radius: 20px;
            display: flex;
            align-items: center;

            input{
                padding: 10px;
                outline: none;
                border: 0;
                width: 100%;
                border-radius: 20px;
            }
        }
        

        button{
            background-color: white;
            padding:12px 16px;
            border: 0;
            border-radius: 62px;
            font-weight: bold;
        }
    }

    @media screen and (min-width:768px){
        display: flex;
        gap: 3rem;
        align-items: center;
    }
}

/* footer */
footer{
    background-color: var(--second-color--);
    display: flex;
    flex-direction: column;
    align-items: center;
    #main__footer{
        padding-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 97vw;

        li > p{
            width: 300px;
        }

        li:not(:first-child){
            
            width: 140px;
        }

        @media screen and (min-width:1024px){
            justify-content: space-evenly;
        }

        @media screen and (min-width:1200px){
            width:90vw;
        }
    }
}